@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #1BC89D;
    --secondary-color: #D4FFF4;
    --grey-text: #6D7280;
    --semibold: 600;
}

* {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.benefit h2, .video-section h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
  color: #222;
  font-size: 32px;
}

.benefit h2 {
  padding-top: 50px !important;
}

.benefit p {
  color: white;
  font-weight: var(--semibold);
}

.benefit section {
  padding: 2em 1em;
}

/* BENEFIT SECTION */
.benefit {
  text-align: center;
  background-color: var(--primary-color);
  margin: 50px auto 0 auto;
}

.benefit-cards {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  flex-wrap: wrap;
  padding: 50px 85px;
}

.card {
  background: white;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.5em;
  flex: 1;
  max-width: 384px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  height: 350px;
}

.card p, .video-section p {
  color: var(--grey-text);
  font-weight: var(--semibold);
  margin-bottom: 50px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 200px;
  height: 150px;
}

/* VIDEO SECTION */
.video-section {
  text-align: center;
  background-color: #D4FFF4;
  padding-top: 50px;
}

.video-section .video-placeholder {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-placeholder {
  border: 2px solid #111827;
}

.video-section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* TESTIMONIALS SECTION */
.testimonials {
  text-align: center;
  /* padding: 1em 2em; */
  border-radius: 8px;
  margin: 50px auto 0 auto;
  max-width: 900px;
  background-color: #ffffff;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 2em;
  position: relative;
}

.testimonial-cards {
  display: flex;
  gap: 1em;
  flex-wrap: nowrap;
  justify-content: center;
}

.testimonial-card {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 500px;
  flex: 0 0 500px;
  text-align: left;
  transition: transform 0.3s ease;
  border: 1px solid #000000;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1732282537685-bec9036bf4e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNDJ8fHxlbnwwfHx8fHw%3D'); /* Gambar random dari Unsplash */
  background-size: cover; /* Pastikan gambar memenuhi elemen */
  background-position: center; /* Pusatkan gambar */
}

.profile-info h3 {
  margin: 0;
  font-size: 16px;
  color: #222;
  margin-bottom: 6px;
}

.profile-info p {
  margin: 0;
  color: #222;
  font-size: 14px;
}

.testimonial-text {
  font-size: 16px;
  color: white;
  line-height: 1.5;
}

.nav-btn {
  background-color: #F3F4F6;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn:hover {
  background-color: black;
  color: white;
}

.nav-btn i {
    font-size: 20px;
}

.write-testimonial {
  font-size: 14px;
  font-weight: var(--semibold);
  color: white;
  border-radius: 100px;
  border-color: transparent;
  background-color: black;
  width: 199px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  font-size: 16px;
}

.write-testimonial:hover {
  background-color: #444;
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  .benefit-cards {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-cards {
    flex-direction: column;
  }

  .testimonial-card {
    min-width: 100%;
  }
}