@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    font-size: 18px;
}

#hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
        url("https://media.istockphoto.com/id/121199853/photo/closeup-of-guy-working-on-a-laptop-indoor.webp?a=1&b=1&s=612x612&w=0&k=20&c=1cFqSPIjH981E69lJFNrRiqUDDsOqHfRdpW2CKu9sSc=") no-repeat center / cover;
    color: whitesmoke;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

#dynamic-text {
    color: lightgreen;
}

#hero .info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero .info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#hero .info p {
    font-size: 1.2rem;
    max-width: 50%;
}

#hero .info a {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.5em 1em;
    margin-top: 2rem;
    color: #ee6c09;
    transition: background-color 0.3s ease;
}

#hero .info a:hover {
    background-color: lightgreen;
    color: white;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}
